<div class="clientDiv">
  <div class="mainPhoto"></div>
  <form (ngSubmit)="onSubmit()">
    <label>Dodaj nowego klienta</label>
    <div class="inputDiv">
      <label>Imię</label>
      <input type="text" name="firstName" [(ngModel)]="firstName">
    </div>
    <div class="inputDiv">
      <label>Nazwisko</label>
      <input type="text" name="lastName" [(ngModel)]="lastName">
    </div>
    <div class="inputDiv">
      <label>Numer paszportu</label>
      <input type="text" name="passport" [(ngModel)]="passport">
    </div>
    <div class="inputDiv">
      <input type="submit" value="Dodaj">
    </div>
  </form>
</div>
<table id="customers">
  <thead>
  <th>id</th>
  <th>Imię</th>
  <th>Nazwisko</th>
  <th>Numer paszportu</th>
  <th>Edytuj</th>
  <th>Usuń</th>
  </thead>
  <tbody>
  <tr *ngFor="let client of clients; let i = index">
    <td>{{client.id}}</td>
    <td>{{client.firstName}}</td>
    <td>{{client.lastName}}</td>
    <td>{{client.passportNumber}}</td>
    <td><button>Edytuj</button></td>
    <td><button (click)="deleteClient(client, i)">Usuń</button></td>
  </tr>
  </tbody>
</table>
